{% apply inline_css %}
    <style>
        h1 {
            color: #0D0D0D;
            text-align: center;
        }
        p{
            color: #0D0D0D;
            text-align: center;
        }
    </style>

    <h1>Bonjour!</h1>

    <p>
        Merci de confirmer votre email en cliquant sur le lien suivant: <br><br>
        <a href="{{ signedUrl }}">Confirmer mon Email</a>.
        Ce lien arrivera à expiration dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
    </p>
{% endapply %}