<form method="post" action="{{ path('app_user_beats_delete', {'id': beat.id}) }}" onsubmit="return confirm('Voulez vous supprimer ce beats?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ beat.id) }}">
    <button class="btn-style p-2 mb-3">Supprimer</button>
</form>
