{% extends 'base.html.twig' %}

{% block title %}Ajouter un Beat{% endblock %}

{% block body %}
    
    <button class="btn-style p-2 mb-3 mt-3 lien"><a href="{{ path('app_user_beats_index') }}">Retour à la liste</a></button>

    <h1>Ajouter un Beat</h1>
        
    {{ include('list_beats/_form.html.twig') }}

{% endblock %}
