{% apply inline_css %}
    <style>
        h1 {
            color: #0D0D0D;
            text-align: center;
        }
        p{
            color: #0D0D0D;
            text-align: center;
        }
    </style>

    <h1>Bonjour {{user.pseudo}}</h1>

    <p>
        Merci pour votre commande et de nous faire confiance !
        Vous trouverez en pièce-jointe vos Beats sous format MP3.
    </p>

    <p>
        MUSIC & BEATS
    </p>
{% endapply %}