{% extends 'base-admin.html.twig' %}

{% block title %}Modifier Beats{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_beats_index') }}"><i class="fa-solid fa-backward mb-3 mt-2"></i></a>

    <h1>Modifier Beats</h1>

    {{ include('admin_beats/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
